body {
    margin: 0;
    background-image: url(img/wood.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    max-width: 350px;
    background: #fff;
    margin: 5% auto;
}

#newTask {
    display: none;
}

#list {
    list-style-type: none;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}